* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout,
.blogs,
ul,
.blog-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 5vh;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 1.9vw;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: black;
}

main {
  height: 65vh;
}

.blogs ul li {
  list-style: none;
  font-size: 1.9vw;
}

ul {
  gap: 2vw;
}

h1 {
  font-size: 4vw;
}
h2,
h3,
h4 {
  font-size: 2vw;
}

.blog-post {
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 100vw;
  gap: 2vh;
}

.blog-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99vw;
  gap: 1vw;
}

.blog-links button,
.blog-form button {
  height: 6vh;
  width: 8vw;
}

.blog-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  gap: 2vh;
}

.post-title {
  width: 20vw;
  height: 5vh;
  text-align: center;
}

.post {
  height: 40vh;
  width: 20vw;
  text-align: center;
}
